<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Webtoons Recommender</title>
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="container mx-auto px-6 py-8">
    {% block content %} {% endblock %}
  </div>

  {% block scripts %} {% endblock%}
</body>
